.warrock_common-crm_emblem
			{
				background-image: url('../img/cr_map01.png');
				background-position: 512px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_engrene
			{
				background-image: url('../img/cr_map01.png');
				background-position: 312px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_harbor_elia
			{
				background-image: url('../img/cr_map01.png');
				background-position: 312px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_harbor_ida
			{
				background-image: url('../img/cr_map01.png');
				background-position: 312px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_havana
			{
				background-image: url('../img/cr_map01.png');
				background-position: 312px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_montana
			{
				background-image: url('../img/cr_map01.png');
				background-position: 512px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_ohara
			{
				background-image: url('../img/cr_map01.png');
				background-position: 512px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_pargona
			{
				background-image: url('../img/cr_map01.png');
				background-position: 512px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_pargona_dogfight
			{
				background-image: url('../img/cr_map01.png');
				background-position: 312px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_pargona_east
			{
				background-image: url('../img/cr_map01.png');
				background-position: 512px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_ravello
			{
				background-image: url('../img/cr_map01.png');
				background-position: 312px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_ravello_2nd_st
			{
				background-image: url('../img/cr_map01.png');
				background-position: 512px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_cadoro
			{
				background-image: url('../img/cr_map02.png');
				background-position: 312px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_cantumira
			{
				background-image: url('../img/cr_map02.png');
				background-position: 512px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_conturas
			{
				background-image: url('../img/cr_map02.png');
				background-position: 512px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_karaqum
			{
				background-image: url('../img/cr_map02.png');
				background-position: 312px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_khyber
			{
				background-image: url('../img/cr_map02.png');
				background-position: 312px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_marien
			{
				background-image: url('../img/cr_map02.png');
				background-position: 312px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_velruf
			{
				background-image: url('../img/cr_map02.png');
				background-position: 512px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_xmarien
			{
				background-image: url('../img/cr_map02.png');
				background-position: 512px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_xvelruf
			{
				background-image: url('../img/cr_map02.png');
				background-position: 312px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_xauen
			{
				background-image: url('../img/cr_map02.png');
				background-position: 512px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_xauenhalloween
			{
				background-image: url('../img/cr_map02.png');
				background-position: 312px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_zakhar
			{
				background-image: url('../img/cr_map02.png');
				background-position: 512px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_alberon
			{
				background-image: url('../img/cr_map03.png');
				background-position: 512px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_beringia
			{
				background-image: url('../img/cr_map03.png');
				background-position: 312px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_coldcave
			{
				background-image: url('../img/cr_map03.png');
				background-position: 312px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_crater
			{
				background-image: url('../img/cr_map03.png');
				background-position: 512px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_crater_dogfight
			{
				background-image: url('../img/cr_map03.png');
				background-position: 312px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_grundel
			{
				background-image: url('../img/cr_map03.png');
				background-position: 512px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_khali
			{
				background-image: url('../img/cr_map03.png');
				background-position: 512px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_nerbil
			{
				background-image: url('../img/cr_map03.png');
				background-position: 312px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_paroho
			{
				background-image: url('../img/cr_map03.png');
				background-position: 512px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_redclover
			{
				background-image: url('../img/cr_map03.png');
				background-position: 512px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_thamugadi
			{
				background-image: url('../img/cr_map03.png');
				background-position: 312px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_winter_redclover
			{
				background-image: url('../img/cr_map03.png');
				background-position: 312px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_artifact
			{
				background-image: url('../img/cr_map04.png');
				background-position: 512px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_bandar
			{
				background-image: url('../img/cr_map04.png');
				background-position: 512px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_bloc
			{
				background-image: url('../img/cr_map04.png');
				background-position: 512px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_blochalloween
			{
				background-image: url('../img/cr_map04.png');
				background-position: 312px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_centralsquare
			{
				background-image: url('../img/cr_map04.png');
				background-position: 312px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_cloud_forest
			{
				background-image: url('../img/cr_map04.png');
				background-position: 512px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_dotonbori
			{
				background-image: url('../img/cr_map04.png');
				background-position: 512px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_odyssey
			{
				background-image: url('../img/cr_map04.png');
				background-position: 312px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_siegewar
			{
				background-image: url('../img/cr_map04.png');
				background-position: 512px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_siegewar2
			{
				background-image: url('../img/cr_map04.png');
				background-position: 312px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_skillpointer
			{
				background-image: url('../img/cr_map04.png');
				background-position: 312px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_winter_forest
			{
				background-image: url('../img/cr_map04.png');
				background-position: 312px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_bazaar
			{
				background-image: url('../img/cr_map05.png');
				background-position: 512px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_biolab
			{
				background-image: url('../img/cr_map05.png');
				background-position: 312px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_blindbullet
			{
				background-image: url('../img/cr_map05.png');
				background-position: 512px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_brokensunset
			{
				background-image: url('../img/cr_map05.png');
				background-position: 312px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_daylight
			{
				background-image: url('../img/cr_map05.png');
				background-position: 312px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_decay
			{
				background-image: url('../img/cr_map05.png');
				background-position: 512px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_disturm
			{
				background-image: url('../img/cr_map05.png');
				background-position: 512px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_kalyedos
			{
				background-image: url('../img/cr_map05.png');
				background-position: 512px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_kashgar
			{
				background-image: url('../img/cr_map05.png');
				background-position: 312px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_losttemple
			{
				background-image: url('../img/cr_map05.png');
				background-position: 512px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_vitious
			{
				background-image: url('../img/cr_map05.png');
				background-position: 312px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_wmarien
			{
				background-image: url('../img/cr_map05.png');
				background-position: 312px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_28th_st
			{
				background-image: url('../img/cr_map06.png');
				background-position: 512px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_bluestorm
			{
				background-image: url('../img/cr_map06.png');
				background-position: 512px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_darkglow
			{
				background-image: url('../img/cr_map06.png');
				background-position: 512px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_dayone
			{
				background-image: url('../img/cr_map06.png');
				background-position: 312px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_jiufen
			{
				background-image: url('../img/cr_map06.png');
				background-position: 312px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_kharif
			{
				background-image: url('../img/cr_map06.png');
				background-position: 512px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_lighthouse
			{
				background-image: url('../img/cr_map06.png');
				background-position: 512px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_pow_camp
			{
				background-image: url('../img/cr_map06.png');
				background-position: 312px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_rustynails
			{
				background-image: url('../img/cr_map06.png');
				background-position: 312px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_second_lab
			{
				background-image: url('../img/cr_map06.png');
				background-position: 312px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_zadar
			{
				background-image: url('../img/cr_map06.png');
				background-position: 512px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_alberon_event
			{
				background-image: url('../img/cr_map07.png');
				background-position: 512px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_banishgarden
			{
				background-image: url('../img/cr_map07.png');
				background-position: 312px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_deathhill
			{
				background-image: url('../img/cr_map07.png');
				background-position: 512px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_fortisland
			{
				background-image: url('../img/cr_map07.png');
				background-position: 312px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_hidden_cave
			{
				background-image: url('../img/cr_map07.png');
				background-position: 312px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_montana_r
			{
				background-image: url('../img/cr_map07.png');
				background-position: 512px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_odyssey_event
			{
				background-image: url('../img/cr_map07.png');
				background-position: 312px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_outpost
			{
				background-image: url('../img/cr_map07.png');
				background-position: 512px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_redsign
			{
				background-image: url('../img/cr_map07.png');
				background-position: 312px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_towerbridge
			{
				background-image: url('../img/cr_map07.png');
				background-position: 512px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_xjiufen
			{
				background-image: url('../img/cr_map07.png');
				background-position: 512px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_zeropoint
			{
				background-image: url('../img/cr_map07.png');
				background-position: 312px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_byway
			{
				background-image: url('../img/cr_map08.png');
				background-position: 512px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_denkmal
			{
				background-image: url('../img/cr_map08.png');
				background-position: 312px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_duskvalley
			{
				background-image: url('../img/cr_map08.png');
				background-position: 512px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_favela
			{
				background-image: url('../img/cr_map08.png');
				background-position: 512px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_hualamphong
			{
				background-image: url('../img/cr_map08.png');
				background-position: 512px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_malta
			{
				background-image: url('../img/cr_map08.png');
				background-position: 312px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_mustang
			{
				background-image: url('../img/cr_map08.png');
				background-position: 512px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_stadium
			{
				background-image: url('../img/cr_map08.png');
				background-position: 312px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_station
			{
				background-image: url('../img/cr_map08.png');
				background-position: 312px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_urbanpark
			{
				background-image: url('../img/cr_map08.png');
				background-position: 312px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_venezia
			{
				background-image: url('../img/cr_map08.png');
				background-position: 512px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_highlands
			{
				background-image: url('../img/cr_map08.png');
				background-position: 312px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_banishgarden2
			{
				background-image: url('../img/cr_map09.png');
				background-position: 512px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_barrio
			{
				background-image: url('../img/cr_map09.png');
				background-position: 312px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_countryside
			{
				background-image: url('../img/cr_map09.png');
				background-position: 312px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_hanok_village
			{
				background-image: url('../img/cr_map09.png');
				background-position: 312px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_junkyard
			{
				background-image: url('../img/cr_map09.png');
				background-position: 312px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_khali_valentine
			{
				background-image: url('../img/cr_map09.png');
				background-position: 512px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_mist
			{
				background-image: url('../img/cr_map09.png');
				background-position: 312px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_modernhouse
			{
				background-image: url('../img/cr_map09.png');
				background-position: 512px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_rampart
			{
				background-image: url('../img/cr_map09.png');
				background-position: 312px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_two_way
			{
				background-image: url('../img/cr_map09.png');
				background-position: 512px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_waterland
			{
				background-image: url('../img/cr_map09.png');
				background-position: 512px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_xcadoro
			{
				background-image: url('../img/cr_map09.png');
				background-position: 512px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_byway_valentine
			{
				background-image: url('../img/cr_map10.png');
				background-position: 512px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_cantumira_blitz
			{
				background-image: url('../img/cr_map10.png');
				background-position: 312px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_deadmine
			{
				background-image: url('../img/cr_map10.png');
				background-position: 312px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_disturm_blitz
			{
				background-image: url('../img/cr_map10.png');
				background-position: 512px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_favela_sport
			{
				background-image: url('../img/cr_map10.png');
				background-position: 312px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_guardpost
			{
				background-image: url('../img/cr_map10.png');
				background-position: 512px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_parkinglot
			{
				background-image: url('../img/cr_map10.png');
				background-position: 312px 208px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_rabbitandturtle
			{
				background-image: url('../img/cr_map10.png');
				background-position: 312px 360px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_secretgarden
			{
				background-image: url('../img/cr_map10.png');
				background-position: 512px 132px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_waterland2
			{
				background-image: url('../img/cr_map10.png');
				background-position: 512px 436px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_wildboar
			{
				background-image: url('../img/cr_map10.png');
				background-position: 312px 512px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-crm_zakhar_blitz
			{
				background-image: url('../img/cr_map10.png');
				background-position: 512px 284px;
				width: 198px;
				height: 74px;
			}
		.warrock_common-levelicon
			{
				background-image: url('../img/levelicon.png');
				background-position: 512px 512px;
				width: 21px;
				height: 21px;
			}
		.warrock_common-premiumlevel_bronze
			{
				background-image: url('../img/levelicon.png');
				background-position: 336px 277px;
				width: 19px;
				height: 21px;
			}
		.warrock_common-premiumlevel_free
			{
				background-image: url('../img/levelicon.png');
				background-position: 356px 277px;
				width: 19px;
				height: 21px;
			}
		.warrock_common-premiumlevel_gold
			{
				background-image: url('../img/levelicon.png');
				background-position: 296px 277px;
				width: 19px;
				height: 21px;
			}
		.warrock_common-premiumlevel_platinum
			{
				background-image: url('../img/levelicon.png');
				background-position: 276px 277px;
				width: 19px;
				height: 21px;
			}
		.warrock_common-premiumlevel_silver
			{
				background-image: url('../img/levelicon.png');
				background-position: 316px 277px;
				width: 19px;
				height: 21px;
			}
		.warrock_common-map_conturas
			{
				background-image: url('../img/map01.png');
				background-position: 512px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_emblem
			{
				background-image: url('../img/map01.png');
				background-position: 218px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_engrene
			{
				background-image: url('../img/map01.png');
				background-position: 365px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_harbor_elia
			{
				background-image: url('../img/map01.png');
				background-position: 218px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_harbor_ida
			{
				background-image: url('../img/map01.png');
				background-position: 365px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_havana
			{
				background-image: url('../img/map01.png');
				background-position: 512px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_marien
			{
				background-image: url('../img/map01.png');
				background-position: 365px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_montana
			{
				background-image: url('../img/map01.png');
				background-position: 512px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_ohara
			{
				background-image: url('../img/map01.png');
				background-position: 365px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_pargona
			{
				background-image: url('../img/map01.png');
				background-position: 218px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_pargona_dogfight
			{
				background-image: url('../img/map01.png');
				background-position: 512px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_pargona_east
			{
				background-image: url('../img/map01.png');
				background-position: 365px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_ravello
			{
				background-image: url('../img/map01.png');
				background-position: 218px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_ravello_2nd_st
			{
				background-image: url('../img/map01.png');
				background-position: 512px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_xmarien
			{
				background-image: url('../img/map01.png');
				background-position: 218px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_alberon
			{
				background-image: url('../img/map02.png');
				background-position: 512px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_cadoro
			{
				background-image: url('../img/map02.png');
				background-position: 512px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_cantumira
			{
				background-image: url('../img/map02.png');
				background-position: 218px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_grundel
			{
				background-image: url('../img/map02.png');
				background-position: 218px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_karaqum
			{
				background-image: url('../img/map02.png');
				background-position: 218px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_khyber
			{
				background-image: url('../img/map02.png');
				background-position: 512px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_nerbil
			{
				background-image: url('../img/map02.png');
				background-position: 365px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_redclover
			{
				background-image: url('../img/map02.png');
				background-position: 365px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_thamugadi
			{
				background-image: url('../img/map02.png');
				background-position: 512px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_velruf
			{
				background-image: url('../img/map02.png');
				background-position: 365px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_winter_redclover
			{
				background-image: url('../img/map02.png');
				background-position: 218px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_xvelruf
			{
				background-image: url('../img/map02.png');
				background-position: 218px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_xauen
			{
				background-image: url('../img/map02.png');
				background-position: 512px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_xauenhalloween
			{
				background-image: url('../img/map02.png');
				background-position: 365px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_zakhar
			{
				background-image: url('../img/map02.png');
				background-position: 365px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_beringia
			{
				background-image: url('../img/map03.png');
				background-position: 512px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_bloc
			{
				background-image: url('../img/map03.png');
				background-position: 218px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_blochalloween
			{
				background-image: url('../img/map03.png');
				background-position: 512px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_bluestorm
			{
				background-image: url('../img/map03.png');
				background-position: 512px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_cloud_forest
			{
				background-image: url('../img/map03.png');
				background-position: 512px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_coldcave
			{
				background-image: url('../img/map03.png');
				background-position: 365px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_crater
			{
				background-image: url('../img/map03.png');
				background-position: 365px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_crater_dogfight
			{
				background-image: url('../img/map03.png');
				background-position: 218px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_darkglow
			{
				background-image: url('../img/map03.png');
				background-position: 365px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_khali
			{
				background-image: url('../img/map03.png');
				background-position: 512px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_paroho
			{
				background-image: url('../img/map03.png');
				background-position: 218px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_rustynails
			{
				background-image: url('../img/map03.png');
				background-position: 218px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_siegewar
			{
				background-image: url('../img/map03.png');
				background-position: 365px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_siegewar2
			{
				background-image: url('../img/map03.png');
				background-position: 218px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_winter_forest
			{
				background-image: url('../img/map03.png');
				background-position: 365px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_artifact
			{
				background-image: url('../img/map04.png');
				background-position: 365px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_bandar
			{
				background-image: url('../img/map04.png');
				background-position: 512px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_biolab
			{
				background-image: url('../img/map04.png');
				background-position: 365px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_blindbullet
			{
				background-image: url('../img/map04.png');
				background-position: 218px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_centralsquare
			{
				background-image: url('../img/map04.png');
				background-position: 218px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_daylight
			{
				background-image: url('../img/map04.png');
				background-position: 218px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_decay
			{
				background-image: url('../img/map04.png');
				background-position: 512px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_disturm
			{
				background-image: url('../img/map04.png');
				background-position: 218px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_dotonbori
			{
				background-image: url('../img/map04.png');
				background-position: 218px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_kalyedos
			{
				background-image: url('../img/map04.png');
				background-position: 512px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_losttemple
			{
				background-image: url('../img/map04.png');
				background-position: 365px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_odyssey
			{
				background-image: url('../img/map04.png');
				background-position: 365px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_skillpointer
			{
				background-image: url('../img/map04.png');
				background-position: 512px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_vitious
			{
				background-image: url('../img/map04.png');
				background-position: 512px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_28th_st
			{
				background-image: url('../img/map05.png');
				background-position: 512px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_28th_st_rank
			{
				background-image: url('../img/map05.png');
				background-position: 512px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_alberon_event
			{
				background-image: url('../img/map05.png');
				background-position: 365px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_bazaar
			{
				background-image: url('../img/map05.png');
				background-position: 365px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_brokensunset
			{
				background-image: url('../img/map05.png');
				background-position: 512px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_dayone
			{
				background-image: url('../img/map05.png');
				background-position: 512px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_jiufen
			{
				background-image: url('../img/map05.png');
				background-position: 218px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_kashgar
			{
				background-image: url('../img/map05.png');
				background-position: 218px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_kharif
			{
				background-image: url('../img/map05.png');
				background-position: 218px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_lighthouse
			{
				background-image: url('../img/map05.png');
				background-position: 365px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_montana_r
			{
				background-image: url('../img/map05.png');
				background-position: 218px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_odyssey_event
			{
				background-image: url('../img/map05.png');
				background-position: 218px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_pow_camp
			{
				background-image: url('../img/map05.png');
				background-position: 365px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_redsign
			{
				background-image: url('../img/map05.png');
				background-position: 512px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_second_lab
			{
				background-image: url('../img/map05.png');
				background-position: 512px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_zadar
			{
				background-image: url('../img/map05.png');
				background-position: 365px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_banishgarden
			{
				background-image: url('../img/map06.png');
				background-position: 365px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_byway
			{
				background-image: url('../img/map06.png');
				background-position: 218px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_deathhill
			{
				background-image: url('../img/map06.png');
				background-position: 512px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_denkmal
			{
				background-image: url('../img/map06.png');
				background-position: 512px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_duskvalley
			{
				background-image: url('../img/map06.png');
				background-position: 365px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_favela
			{
				background-image: url('../img/map06.png');
				background-position: 218px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_fortisland
			{
				background-image: url('../img/map06.png');
				background-position: 512px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_hidden_cave
			{
				background-image: url('../img/map06.png');
				background-position: 218px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_hualamphong
			{
				background-image: url('../img/map06.png');
				background-position: 512px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_outpost
			{
				background-image: url('../img/map06.png');
				background-position: 218px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_station
			{
				background-image: url('../img/map06.png');
				background-position: 365px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_towerbridge
			{
				background-image: url('../img/map06.png');
				background-position: 365px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_urbanpark
			{
				background-image: url('../img/map06.png');
				background-position: 218px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_xjiufen
			{
				background-image: url('../img/map06.png');
				background-position: 512px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_zeropoint
			{
				background-image: url('../img/map06.png');
				background-position: 365px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_banishgarden2
			{
				background-image: url('../img/map07.png');
				background-position: 218px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_barrio
			{
				background-image: url('../img/map07.png');
				background-position: 218px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_countryside
			{
				background-image: url('../img/map07.png');
				background-position: 512px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_hanok_village
			{
				background-image: url('../img/map07.png');
				background-position: 512px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_junkyard
			{
				background-image: url('../img/map07.png');
				background-position: 218px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_khali_valentine
			{
				background-image: url('../img/map07.png');
				background-position: 512px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_malta
			{
				background-image: url('../img/map07.png');
				background-position: 365px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_mustang
			{
				background-image: url('../img/map07.png');
				background-position: 365px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_rampart
			{
				background-image: url('../img/map07.png');
				background-position: 365px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_stadium
			{
				background-image: url('../img/map07.png');
				background-position: 218px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_two_way
			{
				background-image: url('../img/map07.png');
				background-position: 218px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_venezia
			{
				background-image: url('../img/map07.png');
				background-position: 512px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_waterland
			{
				background-image: url('../img/map07.png');
				background-position: 365px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_xcadoro
			{
				background-image: url('../img/map07.png');
				background-position: 365px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_highlands
			{
				background-image: url('../img/map07.png');
				background-position: 512px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_byway_valentine
			{
				background-image: url('../img/map08.png');
				background-position: 218px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_cantumira_blitz
			{
				background-image: url('../img/map08.png');
				background-position: 512px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_deadmine
			{
				background-image: url('../img/map08.png');
				background-position: 365px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_disturm_blitz
			{
				background-image: url('../img/map08.png');
				background-position: 365px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_favela_sport
			{
				background-image: url('../img/map08.png');
				background-position: 218px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_guardpost
			{
				background-image: url('../img/map08.png');
				background-position: 512px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_modernhouse
			{
				background-image: url('../img/map08.png');
				background-position: 512px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_parkinglot
			{
				background-image: url('../img/map08.png');
				background-position: 218px 206px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_rabbitandturtle
			{
				background-image: url('../img/map08.png');
				background-position: 365px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_secretgarden
			{
				background-image: url('../img/map08.png');
				background-position: 512px 104px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_waterland2
			{
				background-image: url('../img/map08.png');
				background-position: 365px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_wildboar
			{
				background-image: url('../img/map08.png');
				background-position: 512px 410px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_zakhar_blitz
			{
				background-image: url('../img/map08.png');
				background-position: 218px 308px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-map_mist
			{
				background-image: url('../img/map08.png');
				background-position: 365px 512px;
				width: 146px;
				height: 101px;
			}
		.warrock_common-mapicon_indo
			{
				background-image: url('../img/mapicon.png');
				background-position: 315px 443px;
				width: 47px;
				height: 49px;
			}
		.warrock_common-mapicon_jap
			{
				background-image: url('../img/mapicon.png');
				background-position: 413px 443px;
				width: 47px;
				height: 49px;
			}
		.warrock_common-mapicon_k2
			{
				background-image: url('../img/mapicon.png');
				background-position: 462px 443px;
				width: 47px;
				height: 49px;
			}
		.warrock_common-mapicon_kor
			{
				background-image: url('../img/mapicon.png');
				background-position: 511px 443px;
				width: 47px;
				height: 49px;
			}
		.warrock_common-mapicon_phil
			{
				background-image: url('../img/mapicon.png');
				background-position: 364px 443px;
				width: 47px;
				height: 49px;
			}
		.warrock_common-mapicon_exp10
			{
				background-image: url('../img/mapicon.png');
				background-position: 358px 511px;
				width: 45px;
				height: 11px;
			}
		.warrock_common-mapicon_exp5
			{
				background-image: url('../img/mapicon.png');
				background-position: 404px 511px;
				width: 45px;
				height: 11px;
			}
		.warrock_common-mapicon_new
			{
				background-image: url('../img/mapicon.png');
				background-position: 512px 512px;
				width: 45px;
				height: 44px;
			}
		.warrock_common-mapicon_snowfight_small
			{
				background-image: url('../img/mapicon.png');
				background-position: 463px 511px;
				width: 58px;
				height: 11px;
			}
		