.warrock_map-name-big_mapname_conturas
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 95px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_emblem
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 127px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_engrene
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 255px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_harbor_elia
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 415px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_harbor_ida
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 447px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_havana
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 383px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_marien
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 63px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_montana
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 479px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_ohara
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 351px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_pargona
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 223px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_pargona_dogfight
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 191px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_pargona_east
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 159px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_ravello
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 319px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_ravello_2nd_st
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 287px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_xmarien
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 31px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-image_operation
			{
				background-image: url('../img/mapname_01.png');
				background-position: 512px 512px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_alberon
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 224px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_cadoro
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 512px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_cantumira
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 352px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_grundel
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 160px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_karaqum
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 256px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_khali
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 32px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_khyber
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 320px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_nerbil
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 192px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_redclover
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 96px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_thamugadi
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 128px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_velruf
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 480px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_winter_redclover
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 64px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_xauen
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 416px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_xauenhalloween
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 384px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_xvelruf
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 448px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_zakhar
			{
				background-image: url('../img/mapname_02.png');
				background-position: 512px 288px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_bandar
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 64px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_beringia
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 352px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_bloc
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 192px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_blochalloween
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 160px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_bluestorm
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 448px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_cloud_forest
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 256px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_coldcave
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 416px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_crater
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 320px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_crater_dogfight
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 288px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_darkglow
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 512px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_odyssey
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 32px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_paroho
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 384px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_rustynails
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 480px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_siegewar
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 128px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_siegewar2
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 96px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_winter_forest
			{
				background-image: url('../img/mapname_03.png');
				background-position: 512px 224px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_02
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 32px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_artifact
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 448px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_biolab
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 352px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_centralsquare
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 416px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_daylight
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 64px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_decay
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 384px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_disturm
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 320px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_dotonbori
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 512px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_kalyedos
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 224px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_level3
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 96px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_losttemple
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 256px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_skillpointer
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 480px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_tutorial_01
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 160px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_tutorial_02
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 128px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_vitious
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 288px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_winter_nerbil
			{
				background-image: url('../img/mapname_04.png');
				background-position: 512px 192px;
				width: 407px;
				height: 31px;
			}
		.warrock_map-name-big_mapname_28th_st
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 384px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_alberon_event
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 64px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_bazaar
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 448px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_blindbullet
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 512px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_brokensunset
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 480px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_dayone
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 288px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_jiufen
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 224px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_kharif
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 320px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_lighthouse
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 352px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_montana_r
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 128px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_odyssey_event
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 32px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_pow_camp
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 160px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_redsign
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 96px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_second_lab
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 192px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_zadar
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 256px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_kashgar
			{
				background-image: url('../img/mapname_05.png');
				background-position: 512px 416px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_banishgarden
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 480px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_byway
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 256px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_deathhill
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 512px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_denkmal
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 224px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_duskvalley
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 192px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_favela
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 64px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_fortisland
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 416px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_hidden_cave
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 352px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_hualamphong
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 128px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_outpost
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 448px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_station
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 96px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_towerbridge
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 384px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_urbanpark
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 160px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_xjiufen
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 320px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_zeropoint
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 288px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_highlands
			{
				background-image: url('../img/mapname_06.png');
				background-position: 512px 32px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_banishgarden2
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 384px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_barrio
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 96px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_countryside
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 352px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_hanok_village
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 160px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_junkyard
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 288px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_khali_valentine
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 256px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_malta
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 416px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_mist
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 32px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_modernhouse
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 64px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_mustang
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 512px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_rampart
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 224px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_stadium
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 480px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_two_way
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 192px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_venezia
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 448px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_waterland
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 128px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_xcadoro
			{
				background-image: url('../img/mapname_07.png');
				background-position: 512px 320px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_byway_valentine
			{
				background-image: url('../img/mapname_08.png');
				background-position: 512px 512px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_cantumira_blitz
			{
				background-image: url('../img/mapname_08.png');
				background-position: 512px 321px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_deadmine
			{
				background-image: url('../img/mapname_08.png');
				background-position: 512px 161px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_disturm_blitz
			{
				background-image: url('../img/mapname_08.png');
				background-position: 512px 289px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_favela_sport
			{
				background-image: url('../img/mapname_08.png');
				background-position: 512px 417px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_guardpost
			{
				background-image: url('../img/mapname_08.png');
				background-position: 512px 385px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_parkinglot
			{
				background-image: url('../img/mapname_08.png');
				background-position: 512px 225px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_rabbitandturtle
			{
				background-image: url('../img/mapname_08.png');
				background-position: 512px 353px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_secretgarden
			{
				background-image: url('../img/mapname_08.png');
				background-position: 512px 193px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_waterland2
			{
				background-image: url('../img/mapname_08.png');
				background-position: 512px 449px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_wildboar
			{
				background-image: url('../img/mapname_08.png');
				background-position: 512px 481px;
				width: 407px;
				height: 32px;
			}
		.warrock_map-name-big_mapname_zakhar_blitz
			{
				background-image: url('../img/mapname_08.png');
				background-position: 512px 257px;
				width: 407px;
				height: 32px;
			}
		